body {
    background-image: url(../images/background.jpg);
    background-size: cover;
}

main {
    background-color: var(--black50);
}

.page-headline {
    position: absolute;
    bottom: 3em;
    left: 2em;
    color: var(--white);
    font-size: 3em;
    width: 20em;
}
