@font-face {
    font-family: retimoa;
    src: url(../fonts/retimoa/Retimoa.otf);
}

@font-face {
    font-family: retimoa-straight;
    src: url(../fonts/retimoa/Retimoa\ Straight.otf);
}

@font-face {
    font-family: inter-18;
    src: url(../fonts/Inter/static/Inter_18pt-Regular.ttf);
}

@font-face {
    font-family: inter-24;
    src: url(../fonts/Inter/static/Inter_24pt-Regular.ttf);
}

@font-face {
    font-family: inter-28;
    src: url(../fonts/Inter/static/Inter_28pt-Regular.ttf);
}

@font-face {
    font-family: inter-28-black;
    src: url(../fonts/Inter/static/Inter_28pt-Medium.ttf);
}


:root {
    /* Main colours */
    --base: #311f63;
    --highlight: #9933cc;
    --white: #e3e3e3;
    --white20: rgba(227, 227, 227, 0.2);
    --white70: rgba(227, 227, 227, 0.7);
    --black: #000000;
    --black50: rgba(0, 0, 0, 0.5);
    --gray: #252525;

    /* Button colours */
    --btnBackgrLight: #e3e3e3;
    --btnBorderLight: #767676;
    --btnBackgrDark: #2c2c2c;
    --btnBorderDark: #2c2c2c;

    /* navigation properties */
    --navHeight: 4.5em;

    /* Error messages */
    --errorBackgr: #f851491a;
    --errorBorder: #f85149;
    --errorColor: #b22b2b;
}

* {
    padding: 0;
    margin: 0;
    font-family: retimoa, retimoa-straight, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--black);
    min-height: 100vh;
    position: relative;
}

main {
    position: relative;
    min-height: 100vh;
}

nav {
    width: 100%;
    height: var(--navHeight);
    background-color: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    text-decoration: none;
}

#nav-btn-box {
    padding: 0 1.5em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* same level as nav-account-box */
.nav-left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* column-gap: 2em; */
}

.nav-btn {
    width: var(--navHeight);
    height: var(--navHeight);
    color: var(--white);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-out;
}

.nav-btn img {
    width: 2em;
    transition: all .2s ease-out;
}

.nav-btn:hover {
    background-color: var(--highlight);
}

.nav-btn:hover img {
    transform: translateY(-.25em);
    transition: all .2s ease-out;
    /* animation: shake 1s ease-in-out infinite alternate forwards; */
}

@keyframes shake {
    from {
        transform: translateY(0em);
    }

    to {
        transform: translateY(-.2em);
    }
}

.nav-account-box {
    padding: .45em;
    border-radius: .5em;
    transition: all .2s ease-out;
}

.user-acc-box {
    padding: .2em 1em;
    transition: all .2s ease-out;
}

.user-acc-box:hover {
    color: var(--btnBackgrLight);
    background-color: var(--white20);
}

.user-acc-box a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    color: var(--white);
}

.user-acc-box p {
    font-family: inter-28;
    font-size: 1.5em;
}

.user-acc-box img {
    width: 3em;
}

/* Generated from figma */
.header-auth {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
    text-align: left;
    font-size: 16px;
    color: #1e1e1e;
}

.button-signin,
.button-register {
    border-radius: .2em;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    cursor: pointer;
    transition: .2s all ease-out;
}

.button-signin {
    color: var(--btnBackgrDark);
    background-color: var(--btnBackgrLight);
    border: .1em solid var(--btnBorderLight);
}

.button-register {
    color: var(--btnBackgrLight);
    background-color: var(--btnBackgrDark);
    border: .1em solid var(--btnBorderDark);
}

.button-signin:hover {
    color: var(--btnBackgrLight);
    background-color: var(--btnBackgrDark);
}

.button-register:hover {
    border: .1em solid var(--btnBorderLight);
}

.button-text {
    position: relative;
    /* line-height: 100%; */
    font-family: inter-18, retimoa-straight;
    font-weight: 100;
}

/* figma end */

/* Global settgins for input fields */
input {
    font-family: inter-28-black;
    font-size: 1em;
    color: var(--white);
    background-color: transparent;
    /* background-color: var(--gray); */
    border: none;
    outline: none;
    border-bottom: .1em solid var(--white);
    cursor: pointer;
    transition: all .2s ease-out;
}

input:hover {
    background-color: var(--white20);
}

input:focus,
input:active {
    color: var(--black);
    background-color: var(--white);
}

input:not([type=submit]) {
    width: 25em;
    padding: .5em;
}

input[type=submit] {
    padding: .5em .8em;
    font-size: 1.2em;
}

input[type=submit]:hover {
    color: var(--black);
    background-color: var(--white);
}

input[type=file] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.form-header {
    font-size: 2.5em;
    /* position: relative; */
    line-height: 100%;
    text-align: center;
}

.upload-icon {
    width: 1.2em;
    position: relative;
}


/* Global settings for forms */
.form-wrapper {
    width: 100%;
    height: calc(100vh - var(--navHeight));
    /* padding: 8em 0; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    color: var(--white);
}

/* Global settings for forms in pop ups */
.form-wrapper-popup {
    width: 100%;
    padding: 2.5em 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: .1em solid var(--white);
    gap: 1em;
    color: var(--white);
}

.popup-box {
    width: 70vw;
    height: 70vh;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    top: calc(50% - 35vh + var(--navHeight));
    left: calc(50% - 35vw);
}

.popup {
    width: 100%;
    height: max-content;
    background-color: var(--gray);
    backdrop-filter: blur(1em);
}

.popup form>div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.form-box-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50em;
    height: 25em;
    position: relative;
    /* background-color: var(--gray);
    border: .15em solid var(--white);
    color: var(--white); */
}

.form-box-child>div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-box-child>div a {
    /* text-decoration: none; */
    color: var(--white);
    transition: all .2s ease-out;
}

.form-box-child>div a:hover {
    color: var(--highlight);
}

.form-box-child form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}


/* Error messages */
errors {
    width: 20em;
    position: absolute;
    bottom: 2em;
    left: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5em;
}

error {
    width: 100%;
    height: 4.5em;
    padding: .5em;
    background-color: var(--errorBackgr);
    color: var(--errorColor);
    border: .1em solid var(--errorBorder);
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

error header {
    font-weight: 900;
    font-size: .9em;
}

error p {
    font-size: .55em;
}