#form-public {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
    gap: 1.5em;
}

#form-public input {
    width: 100%;
}

/* Checkbox */

/* Customize the label (the container) */
.chkbox-container {
    width: 4.5em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* padding-left: 35px; */
    /* margin-bottom: 12px; */
    cursor: pointer;
    /* font-size: 22px; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.chkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    /* height: 25px; */
    /* width: 25px; */
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.chkbox-container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.chkbox-container input:checked~.checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.chkbox-container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.chkbox-container .checkmark:after {
    /* left: 9px; */
    /* top: 5px; */
    /* width: 5px; */
    /* height: 10px; */
    /* border: solid white; */
    /* border-width: 0 3px 3px 0; */
    /* -webkit-transform: rotate(45deg); */
    /* -ms-transform: rotate(45deg); */
    /* transform: rotate(45deg); */
}

.checkmark {
    width: 0;
    display: none;
}

.chkbox-p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: inter-28, 'Arial', sans-serif;
    padding: .4em .7em;
    background-color: var(--white);
    color: var(--black);
    gap: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.chkbox-p:hover {
    background-color: var(--white70);
}

.chkbox-p:active {
    background-color: var(--highlight);
    color: var(--white);
}